{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
{% endblock extra_css %}

{% block main %}
{{ block.super }}

{% editable page.herbgallery.content %}
{{ page.herbgallery.content|richtext_filters|safe }}
{% endeditable %}
		<section class="herbs">
{% with page.herbgallery.herbs.all as herbs %}
{% for herb in herbs %}
			<article class="herb glass-block">
				<header>
					<h1 class="herb-primary">{{ herb.herb }}</h1>
					<h2 class="herb-secondary">{{ herb.latin }}</h2>
				</header>
				<p>
					<a title="{{ herb.herb }}" href="#">
						<img src="{{ MEDIA_URL }}{% thumbnail herb.file 131 75 %}">
					</a>
				</p>
				<p>
					{#{ herb.image }#} PRICE
				</p>
			</article>
{% endfor %}
{% endwith %}
		</section>
{% endblock %}
