/*
	Flower Moon Farms

	Layout © Flower Moon Farms, Jacob Hume
	Licensed AGPLv3, Rock on.
*/


/*= Base Styles ============*/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: #4A6713;
}

body {
	color: #320;
	font-family: serif;
	font-size: 24px;
	margin: 0;
	/* Accessibility link positioning */
	position: relative;
}

footer {
	clear: both;
	color: #ccc;
	margin: 0 2em 0 10em;
	padding: 2em 0;
	text-align: center;
	text-shadow: 1px 1px 0 #333;
}

h1,
h2 {
}

article>h1,
section>h1 {
	margin-top: 0;
}

html {
	background: #f1f1f1;
}


/*= Modules ================*/

/* Accessibility link */
.a11y-link {
	background: #fff;
	border: 1px solid #333;
	border-radius: 1em;
	padding: .5em;
	position: absolute;
	left: .5em;
	top: -5em;
	transition: 1s top;
	z-index: 5000;
}

/* Main content */
.content {
	margin: 2em 2em 1em 10em;
}

.content-title {
	color: #9C7D23;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
}

.content-title:after {
	content: "~";
}

.content-title:before {
	content: "~";
}

/* Glass block effect */
.glass-block {
	background-color: #ddd;
	border-radius: .5em;
	box-shadow:
		inset 0 1em 1em #fff,
		3px 3px 0 rgba(0,0,0,.3);
	color: #333;
	display: block;
	padding: 1em;
	transition: all ease-out .5s;
}

/* Site header */
.header,
.logo {
	background: #234311;
	box-shadow: 3px 3px 3px rgba(0,0,0,.5);
	position: relative;
	z-index: 10;
}

.header {
	background-image: linear-gradient(#4A6713, #234311 6em);
	background-image: url('/static/img/nav.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* Prevent drop shadow from starting late */
	margin-left: -3px;
	padding-left: 3px;
}

/* Site Logo */
.logo {
	background-image: linear-gradient(#689f00, #234311 75%);
	border-radius: 0 0 .5em .5em;
	float: left;
	padding: 3.1em 1em .5em 1em;
	margin: 0 1em 0 1em;
}

.logo>img {
	border-radius: .25em;
	box-shadow: 1px 1px .1em #182E0C;
	height: 5em;
	margin-top: -2.5em;
	width: 6em;
}

/* Site Title */
.site-title {
	color: inherit;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
}

/* Herb page */
.herb {
	display: inline-block;
	margin: .5em;
	text-align: center;
	width: 12em;
}

.herb-details dd,
.herb-details dt {
	float: left;
	padding-bottom: .5em;
}

.herb-details dd {
	padding: 0;
	margin: 0 0 0 1em;
}

.herb-details dt {
	clear: left;
	font-style: italic;
	max-width: 10em;
	text-align: right;
	width: 10em;
}

.herb-image {
	clear: both;
	margin-left: 11em;
}

.herb-image img {
	max-width: 20em;
}

/* Herb thumbnails */
.herb a {
	color: #333;
	text-decoration: none;
}

.herb img {
	width: 5em;
}

.herb p {
	margin: 1em 0 0 0;
}

.herb-primary,
.herb-secondary {
	font-size: 1em;
	height: 1.8em;
	line-height: .8;
	margin: 0;
}

.herb-secondary {
	font-size: .8em;
	font-style: italic;
	font-weight: normal;
}

.herb-secondary:after {
	content: ")";
}

.herb-secondary:before {
	content: "(";
}

.herbs {
	text-align:center;
}

/* Main Navigation */
.nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

.nav-item {
	display: inline-block;
	margin: .5em;
}

.nav-item .glass-block {
	padding: .5em;
	text-decoration: none;
}

/*= State ==================*/

.a11y-link:active,
.a11y-link:focus {
	top: .5em;
}

.glass-block:active,
.glass-block:hover {
	background-color: #fff;
	box-shadow:
		inset 0 0 0 #fff,
		3px 3px 0 rgba(0,0,0,.5);
	color: #636363;
}



/*= Responsive =================*/

@media screen and (max-width: 450px) {

	body {
		font-size: 16px;
	}

	.header {
		position: relative;
	}

	.logo {
		position: absolute;
		top: 100%;
		left: .5em;
		margin-top: .25em;
		height: 172px;
		width: 90px;
	}

	.nav {
		margin-left: 122px;
	}

	.nav-item {
		margin: .5em 0 .5em .25em;
	}
}
